logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
sbt-fork-run-plugin
+addSbtPlugin("com.typesafe.play" % "sbt-fork-run-plugin" % "2.3.8")
