 .ui-page { 
/*	background:  url("../images/Space_image.jpg");
    background-position:center center ;
   	background-attachment:scroll ;
    background-size:100% 100% ;
    height: 100%;*/
    background: black;

}

.fullscreen{
    
        max-height: 100%;
        max-width: 100%;

}
.ui-content {

    padding: 25px 50px;
    margin: 0 auto ;
    width: 70%;
    border: 2px solid orange;
    border-radius: 25px;  

} 

/*.header-google a.ui-btn {
    border: none;
    background: orange;
    text-shadow: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.header-google .ui-btn-inner {
    padding: 0;
    height: 29px;
    line-height: 29px;
}*/

/*.header-google a.ui-btn.ui-btn-active,
.header-google a.ui-btn:hover{
    color: #FFF;
}*/


    /*.ui-grid-a {width: 100%}
    .ui-grid-a .ui-controlgroup-controls {width:50%}
    #homepageB {width:15% ; float:center}
    #newsfeedB {width:15% ; float:center}
    #eventfeedB {width:15% ; float:center}
    #hamburgerB {width:10% ; float:center}
    #footerB {float:center}*/

.ui-page .ui-btn.my-btn  {
    color      : white;
    background : orange;
}​




