.ui-page { 
	background: url('http://content.wallpapers-room.com/resolutions/1920x1200/V/Wallpapers-room_com___Vortex_noapple_purple_by_mgilchuk_1920x1200.jpg') ;;
    background-position:center center ;
    background-attachment:scroll ;
    background-size:100% 100% ;
}