 @media only screen and (min-width: 64.1em){
        .ui-page{
            width: 45em !important;
            margin: 0 auto !important;
            position: relative !important;



        }
    .ui-overlay-b{
        background: url("http://farm4.staticflickr.com/3341/3254247653_d40a83777c_b.jpg");
    }
    }
.fullscreen{
    
        max-height: 100%;
        max-width: 100%;

}
