 .ui-page { 
	background:  url("http://farm4.staticflickr.com/3341/3254247653_d40a83777c_b.jpg");
    background-position:center center ;
   	background-attachment:scroll ;
    background-size:100% 100% ;
    height: 100%;
    

}

.ui-content {

    padding: 25px 50px;
    margin: 0 auto ;
    width: 40%;
    border: 2px solid orange;
    border-radius: 25px;  
    background: black;
} 


.fullscreen{
    
        max-height: 100%;
        max-width: 100%;

}
