@(message: String)

<!DOCTYPE html>

<html>
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>DreamSpace</title>

        <!-- JQuery Mobile -->
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> 

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/dreamhack-logo.png")">
        
        <script>
        
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '850805461661221',
      xfbml      : true,
      version    : 'v2.3'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
		</script>
        
    </head>
    <body>
        <div data-role="page" id = "choosename" data-theme="b">
        
            <div data-role="header"> 
                <h1><img src="@routes.Assets.at("images/d2.png")" class = "fullscreen"></h1> 
            </div>
            
            <div data-role = "content">
            
                <h1>Choose a username for you account</h1>

                
                    <div data-role="fieldcontain"class="ui-hide-label">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" value="" placeholder="Username"/>
                    </div>
                    
                     <input type="submit" value="Create account" onclick="return validate()">

              
                        <button onclick="window.location.href='/login'">Return to login</button>
                <p id="warning">@message</p>
 
                
             <script type="text/javascript">
             function errorInField(){
            	 $("#warning").css('color', 'red');
                 $('#warning').prepend('<img id="redcross" src="@routes.Assets.at("images/redcross.png")" />')
                 $('#redcross').width(40);
                 $('#redcross').height(40);
                 usernameOkay =false;
            }
            	
            	function fieldOkay(){
            	    $("#warning").css('color', 'green');
                    $('#warning').prepend('<img id="greentick" src="@routes.Assets.at("images/greentick.png")" />')
                    $('#greentick').width(40);
                    $('#greentick').height(40);
                    usernameOkay = true;
            	}
            	
             var usernameOkay = true;
             $('#username').change(function() {
            	 if( $('#username').val().length <1){
            		 $("#warning").html('Username is too short! Please enter a minimum of x characters');
            		 errorInField()
                     return;
            	 }
            	 
            if(/[^a-zåäöA-ZÅÄÖ0-9_]/.test( $('#username').val())){
            	 $("#warning").html('Username contains invalid characters! Please only use letters, numbers and _');
            	 errorInField()
                 return;
            }
            
              var name = $('#username').serialize();
              var data = {"username" : name};
            $.ajax({
            url: "/checkname",
            type: 'POST',
            contentType:'application/json',
            data: JSON.stringify(data),
            dataType : 'html',
            
            success: function(data){
            if(data != "null") {
               $("#warning").html('Username already exists');
               errorInField()
            } else {
                 $("#warning").html('Username is available');
                 fieldOkay()
            }
            }
            });
            });
              
  				
            </script>
                
            <script type="text/javascript">
            function validate() {
                
                var blnValid = true;
				if(!usernameOkay)
					{
					blnValid = false;
					document.getElementById("username").focus();
					}
					
                if(isBlank("username"))
                {
                    blnValid = false;
                    $("#warning").css('color', 'red');
                    $("#warning").html('Username field cannot be blank!');
                    document.getElementById("username").focus();
                }
                
                if (blnValid == false){
                    return blnValid;
                } else {
               FB.getLoginStatus(function(response) {
               FB.api('/me', function(response) {
                   
               
               var data = {"username":$("#username").val(), "id":response.id, "name":response.name,"email":response.email};
                $.ajax({
                url: '/addfacebookuser',
                type: 'POST',
                contentType:'application/json',
                data: JSON.stringify(data),
                success: function(data){
                    window.location = "/";
                }
                });
                });
                });
                }
               
                return blnValid;
                
            }


            function isBlank(elementID){
                if(document.getElementById(elementID).value.length == 0){
                    return true;
                }
                
                return false;
            }
</script>
</div>
<div data-role="footer" data-position = "fixed">  
<h4>© 2015 DREAMSPACE AB</h4>
</div>
</div>
</body>
</html>
